* {
  margin: 0;
  padding: 0;
}
textarea:focus, input:focus{
  outline: none;
  border: 1px solid rgb(38, 38, 107);
}
/* general page styles */
body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: black;
  margin: 0;
  padding: 0;
  /* background-image: url("../images/psychedelic_pattern_@2X.png"); */
  background: black;
  height: 900px;
}

.stickyfootercontainer {
  width: 100%;
  height: 100%;
}

h1, h2, h3 {
  font-family: 'Georgia', Times, Times New Roman, serif;
}

/* ===========navigation styles all pages============================ */


.navbar{
  background: #ffffff;
  height: 75px;
  width: 100%;
  border-bottom: 2px solid (40, 43, 60);
}

.navcontent {
  height:100%;
  width:960px;
  margin: auto;
}

.contactnavcontent {
  width: 50%;
}

.navdiv {
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.myname {
  width:25%;
  height:100%;
  background: black;
  float: left;
  color: white;
  text-align: center;

  display: flex;
  justify-content: center;
  padding: 0 .5rem;
}

.contactmyname {
  flex-direction: column;
}

.nameheader {
  align-self: center;
}

.contactnameheader {
  font-size: 1.35rem;
}

.navlist {
  align-self: center;
  text-align: center;
}

.navlist li:not(:last-child) {
  border-right: 1px solid black;
}

.navlistitem  {
  list-style-type: none;
  display: inline;
  font-weight: 600;
  padding: 0 9px;
  font-size: .8rem;
  color: black;
}

.navlistitem a {
  text-decoration: none;
  color: black;
}

/* .clearfix {
  clear:both;
} */

/* ===============Content Styles for index page about me ============================= */


.aboutmecontent {
  width: 93%;
  /* height: 67%; */
  margin: auto;
  font-size: .95rem;
  font-weight: 500;
  /* color: #949191; */
  color: black;
}

.aboutmecontainer {
  
  width:960px;
  margin: 0 auto;
  background: #ffffff;
  z-index:2;
  margin-top: 2.5rem;
  border: 1px solid (40, 43, 60);
  display: flex;
  margin-bottom: 5rem;
  
}

.contactformcontainer {
  width: 50%;
  border: .5px solid #cccccc;
}

.aboutmeheader {
  width: 100%;
  /* position: relative; */
  color: black;
  margin-top: 2rem;
  left:1.5rem;
}
.contact-info {
 margin: 1rem;
 text-align: center;
 font-weight: 100;
}

.contactheader {
  font-size: 1.35rem;
}

.underline {
  width: 100%;
  border: 1px solid black;
  margin-top: 1rem;
}

.aboutmeimage {
  margin-top: 1.5rem;
  margin-right: 1rem;
  width: 200px;
  height: 200px;
  background-image: url("../../linkedINpic.jpg");
  margin-bottom: .8rem;
  float: left;
  background-position: 30% 40%;
  background-size: cover;
  border: 1px solid black;
}

.aboutmesummary {
  margin-top: 1rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.clearfix {
  clear: both;
}

/* ======================foooter Styles all pages====================== */

.footer{
  display: flex;
  
  justify-content: center;
  align-items: center;
  border-top: 5px solid rgb(40, 43, 60);
  width: 100%;
  height: 4rem;
  background: white;
  position: sticky; 
  font-weight: 600;
  top: calc(100vh - 4rem);
  /* bottom:0; */
}

.copywright {
  /* color: rgb(235, 235, 235); */
  color: black;
  text-align: center;
  bottom: 0;
  left: 50%;
  position: absolute;
  margin-bottom: .5rem;
  font-size: .9rem;
}

/* ======================formstyles for contact page ============== */

.formcontent {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.forminput {
  width: 100%;
  height: 5vh;
  color: black;
  margin-top: .2rem;
  font-size: .9rem;
  font-weight: 300;
  height: 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid black;
  border-radius: 8px;
  padding: 1px 5px;
}

.inputname {
  font-size: .8rem;
  font-weight: 700;
}

.formtextarea {
  height:150px;
  font-size: 1rem;
  color: black;
  border: 1px solid black;
  border-radius: 8px;
}

.formbutton {
  background: black;
  color: white;
  border: none;
  padding: .25rem .5rem;
  /* text-align: center; */
}


/* ==============Portfolio Pictures & description styles portfolio Page==================== */

.portfolioheaderalign {
  width: 96.6%;
  margin: auto;
}
.portfoliocontainer {
  width: 100%;
  /* height: 70vh; */
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%; 
  grid-template-rows: 25vh 25vh 25vh 25vh;
  justify-items: center;
  align-items: center;
  margin-bottom: 1rem;
}



.col {
  width:33.333%;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  float: left;
}

.portfoliopicture {
  width: 90%;
  height: 20vh;
  align-items: center;
  /* height: calc(28% / 1.33); */
  background: black;
  /* margin-top: 1.33rem;
  margin-bottom:1.33rem; */
  position: relative;
}

.pic1 {
  background-image: url(https://images.unsplash.com/photo-1520004434532-668416a08753?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  background-position: cover;
  background-size: 99%;
}

.pic2 {
  background-image: url(https://images.unsplash.com/photo-1511465390398-532913e8328d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60);
  background-position: center;
}

.pic3 {
  background-image: url(https://images.unsplash.com/photo-1549589896-8ce0c788a111?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60);
  background-position: center;
}

.pic4 {
  background-image: url(https://images.unsplash.com/photo-1503179045491-22d8261b941a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80);
  background-position: 40% 53%;
}

.pic9 {
  background-image: url(https://images.unsplash.com/photo-1526304640581-d334cdbbf45e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60);
  background-position: center;
  
}
.pic8 {
  background-image: url(https://images.unsplash.com/photo-1512446387219-99c19f8fe95f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60);
  background-position: center;
}

.pic5 {
  background-image: url(https://images.unsplash.com/photo-1501426026826-31c667bdf23d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=676&q=80);
  background-position: center;
  background-size: 99%;
}

.pic6 {
  background-image: url(https://images.unsplash.com/photo-1509048191080-d2984bad6ae5?ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=80);
  background-position: center;
}

.pic7 {
  background-image: url(https://images.unsplash.com/photo-1507676385008-e7fb562d11f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60);
  background-position: center 80%;
}
.pic10 {
  background-image: url(https://images.unsplash.com/photo-1522098605161-cc0c1434c31a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60);
  background-position: 40% 20%;
}
.pic11 {
  background-image: url(https://images.unsplash.com/photo-1513185158878-8d8c2a2a3da3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60);
  background-position: 40% 60%;
}
.pic12 {
  background-image: url(https://images.unsplash.com/photo-1461354464878-ad92f492a5a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60);
  background-position: center;
  background-size: 99%
}
.pic13 {
  background-image: url(https://images.unsplash.com/photo-1495020689067-958852a7765e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60);
  background-position: center;
  background-size: 99%
}
.pic14 {
  background-image: url(https://images.unsplash.com/photo-1438109382753-8368e7e1e7cf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60);
  background-position: center;
  background-size: 99%
}


.imagebanner {
  width: 100%;
  height: 28%;
  position: absolute;
  bottom: 5%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .75rem;
}

.imagebannertext {
  color: white;
  text-decoration: none;
}

/* .portfolionavitem {
  font-size: 1rem;
} */

/* ================responsive styles at 980 breakpoint=============================== */

@media (max-width: 980px){
  .portfoliocontainer {
    width: 100%;
    /* height: 70vh; */
    display: grid;
    grid-template-columns: 50% 50%; 
    grid-template-rows: 25vh 25vh 25vh 25vh 25vh 25vh 25vh;
    justify-items: center;
    align-items: center;
  }
  
  .navcontent {
    height:100%;
    width:90%;
    margin-left: 3rem;
    margin-right: auto;
  }

  .aboutmecontainer {
    width: 65%;
    margin-left: 3rem;
    margin-right: auto;
    display: flex;
  }

  .col {
    margin-top: 1rem;
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    float: left;
  }

  .col-last {
    height: 150px;

  }

  .portfoliopicture {
    height: 90%;
    margin: 0 .75rem;
  }

  .last-pic {
    height: 130px;
  }

}

/* =================responsive styles at 768 breakpoiint */

@media (max-width: 768px) {
  .navcontent {
    height:100%;
    width:95%;
    margin-left: 1rem;
    margin-right: auto;
  }

  .aboutmecontainer {
    width: 95%;
    margin-left: 1rem;
    margin-right: auto;
  }

  
  .copywright {
    left: 45%;
  }
}

/* =================responsive styles at 640 breakpoiint */

@media (max-width: 640px) {
  .navbar{
    height:110px;
    position: relative;
    width: 100%;
  }
  .navcontent {
    position: relative;
    margin: 0;
    width: 100%;
    height: 110px;
  }
  .contactnavcontent {
    margin: 0;
    width: 100%;
  }
  .myname {
    position: absolute;
    top: 0;
    height: 70%;
    display: flex;
    width: 100%;
  }

  .navdiv {
    height: 30%;
    display: flex;   
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .aboutmecontainer {
    width: 97%;
    margin: 1.25rem auto;
  }



  .portfoliocontainer {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .portfoliopicture {
    height: 25vh;
    margin: .5rem .5rem;
    width: 99%;
  }

  .col {
    margin-top: 1rem;
    width:90%;
  }
  .copywright {
    left: 35%;
  }
  .stickyfootercontainer {
  width: 100%;
  height: 1500px;
}
.footer{
  display: block;
  border-top: 5px solid black;
  width: 100%;
  height: 4rem;
  background: black;
  position: sticky; 
  
  top: calc(1300px - 4rem);
  /* bottom:0; */
}

 
}

.github {
  width: 32px;
  height: 32px;
  background-image: url("../../github.png");
  margin-right: .5rem;
}
.linkedin {
  width: 32px;
  height: 32px;
  background-image: url("../../linkedin.png");
  margin-left: .5rem;
}