* {
  margin: 0;
  padding: 0;
}
/* general page styles */
body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
  margin: 0;
  padding: 0;
  background-image: url("../images/psychedelic_pattern_@2X.png");
  height: 900px;
}

.stickyfootercontainer {
  width: 100%;
  height: 100%;
}

h1, h2, h3 {
  font-family: 'Georgia', Times, Times New Roman, serif;
}

/* ===========navigation styles all pages============================ */


.navbar{
  background: #ffffff;
  height: 75px;
  width: 100%;
  border-bottom: 2px solid #cccccc;
}

.navcontent {
  height:100%;
  width:960px;
  margin: auto;
}

.contactnavcontent {
  width: 50%;
}

.navdiv {
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.myname {
  width:25%;
  height:100%;
  background: #4aaaa5;
  float: left;
  color: white;
  text-align: center;

  display: flex;
  justify-content: center;
  padding: 0 .5rem;
}

.contactmyname {
  flex-direction: column;
}

.nameheader {
  align-self: center;
}

.contactnameheader {
  font-size: 1.35rem;
}

.navlist {
  align-self: center;
  text-align: center;
}

.navlist li:not(:last-child) {
  border-right: 1px solid #cccccc;
}

.navlistitem  {
  list-style-type: none;
  display: inline;
  font-weight: 600;
  padding: 0 9px;
  font-size: .8rem;
  color: #b4b3b3;
}

.navlistitem a {
  text-decoration: none;
  color: #b4b3b3;
}

/* .clearfix {
  clear:both;
} */

/* ===============Content Styles for index page about me ============================= */


.aboutmecontent {
  width: 93%;
  /* height: 67%; */
  margin: auto;
  font-size: .95rem;
  color: #949191;
}

.aboutmecontainer {
  
  width:960px;
  margin: 0 auto;
  background: #ffffff;
  z-index:2;
  margin-top: 2.5rem;
  border: 1px solid #cccccc;
  display: flex;
  margin-bottom: 5rem;
  
}

.contactformcontainer {
  width: 50%;
  border: .5px solid #cccccc;
}

.aboutmeheader {
  width: 100%;
  /* position: relative; */
  color: #4aaaa5;
  margin-top: 2rem;
  left:1.5rem;
}

.contactheader {
  font-size: 1.35rem;
}

.underline {
  width: 100%;
  border: 1px solid #cccccc;
  margin-top: 1rem;
}

.aboutmeimage {
  margin-top: 1.5rem;
  margin-right: 1rem;
  width: 200px;
  height: 200px;
  background-image: url("https://images.unsplash.com/photo-1490481920145-fc78891bbb99?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  margin-bottom: .8rem;
  float: left;
}

.aboutmesummary {
  margin-top: 1rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.clearfix {
  clear: both;
}

/* ======================foooter Styles all pages====================== */

.footer{
  display: block;
  border-top: 5px solid #4aaaa5;
  width: 100%;
  height: 4rem;
  background: #666565;
  position: sticky; 
  
  top: calc(100vh - 4rem);
  /* bottom:0; */
}

.copywright {
  color: rgb(235, 235, 235);
  text-align: center;
  bottom: 0;
  left: 50%;
  position: absolute;
  margin-bottom: .5rem;
  font-size: .9rem;
}

/* ======================formstyles for contact page ============== */

.formcontent {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.forminput {
  width: 100%;
  color: #a1a1a1;
  margin-top: .2rem;
  font-size: .7rem;
  font-weight: 700;
  height: 1.25rem;
  margin-bottom: 1rem;
  border: .4px solid #cccccc;
}

.inputname {
  font-size: .8rem;
  font-weight: 700;
}

.formtextarea {
  height:150px;
  color: #a1a1a1;
  border: .4px solid #cccccc;
}

.formbutton {
  background: #4aaaa5;
  color: white;
  border: none;
  padding: .25rem .5rem;
  /* text-align: center; */
}


/* ==============Portfolio Pictures & description styles portfolio Page==================== */

.portfolioheaderalign {
  width: 96.6%;
  margin: auto;
}
.portfoliocontainer {
  width: 100%;
  height: 70vh;
  
}

.col {
  width:33.333%;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  float: left;
}

.portfoliopicture {
  width: 90%;
  height: 25.5%;
  align-items: center;
  /* height: calc(28% / 1.33); */
  background: black;
  margin-top: 1.33rem;
  margin-bottom:1.33rem;
  position: relative;
}

.pic1 {
  background-image: url(https://images.unsplash.com/photo-1529511696370-b8554caa7261?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80);
}

.pic2 {
  background-image: url(https://images.unsplash.com/photo-1530379768560-fac46435511d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
}

.pic3 {
  background-image: url(https://images.unsplash.com/photo-1534595461757-4974c5072dff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
}

.pic4 {
  background-image: url(https://images.unsplash.com/photo-1537498425277-c283d32ef9db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
}

.pic4 {
  background-image: url(https://images.unsplash.com/photo-1537498425277-c283d32ef9db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
}

.pic5 {
  background-image: url(https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60)
}

.pic6 {
  background-image: url(https://images.unsplash.com/photo-1505740420928-5e560c06d30e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60)
}

.pic7 {
  background-image: url(https://images.unsplash.com/photo-1485823040952-99ef05fe1637?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60)
}

.imagebanner {
  width: 100%;
  height: 28%;
  position: absolute;
  bottom: 5%;
  background: #4aaaa5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagebannertext {
  color: white;
}

/* .portfolionavitem {
  font-size: 1rem;
} */

/* ================responsive styles at 980 breakpoint=============================== */

@media (max-width: 980px){
  .navcontent {
    height:100%;
    width:90%;
    margin-left: 3rem;
    margin-right: auto;
  }

  .aboutmecontainer {
    width: 65%;
    margin-left: 3rem;
    margin-right: auto;
  }

  .col {
    margin-top: 1rem;
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    float: left;
  }

  .col-last {
    height: 150px;
  }

  .portfoliopicture {
    height: 30%;
    margin: 0 .75rem;
  }

  .last-pic {
    height: 130px;
  }

}

/* =================responsive styles at 768 breakpoiint */

@media (max-width: 768px) {
  .navcontent {
    height:100%;
    width:95%;
    margin-left: 1rem;
    margin-right: auto;
  }

  .aboutmecontainer {
    width: 95%;
    margin-left: 1rem;
    margin-right: auto;
  }

  
  .copywright {
    left: 45%;
  }
}

/* =================responsive styles at 640 breakpoiint */

@media (max-width: 640px) {
  .navbar{
    height:110px;
    position: relative;
    width: 100%;
  }
  .navcontent {
    position: relative;
    margin: 0;
    width: 100%;
    height: 110px;
  }
  .contactnavcontent {
    margin: 0;
    width: 100%;
  }
  .myname {
    position: absolute;
    top: 0;
    height: 70%;
    display: flex;
    width: 100%;
  }

  .navdiv {
    height: 30%;
    display: flex;   
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .aboutmecontainer {
    width: 97%;
    margin: 1.25rem auto;
  }



  .portfoliocontainer {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .portfoliopicture {
    height: 25vh;
    margin: .5rem .5rem;
    width: 99%;
  }

  .col {
    margin-top: 1rem;
    width:90%;
  }
  .copywright {
    left: 35%;
  }
  .stickyfootercontainer {
  width: 100%;
  height: 1500px;
}
.footer{
  display: block;
  border-top: 5px solid #4aaaa5;
  width: 100%;
  height: 4rem;
  background: #666565;
  position: sticky; 
  
  top: calc(1300px - 4rem);
  /* bottom:0; */
}

 
}